h1 {
font-family: inherit;
font-size: 35px;
color: #800000;
text-align: center;
}

p{
  font-family: inherit;
  font-size: 25px;
  color: #800000;
  text-align: center;
}
body{
  background-color: #FFD580;
  color: #800000;
}

div{
  font-size: 20px;
  font-family: inherit;
  color: #800000;
}
